@import "./helpers/normalize.scss";

section {
    background-color: #bebebe;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
.logo {
    display: block;
    width: min-content;
    margin: 0 auto;
    @media screen and(max-width: 560px) {
        margin-top: 16px;
    }
}
.mob-menu {
    display: none;
    @media screen and(max-width: 560px) {
        width: 22px;
        height: 9px;
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 21;
    }
}
.mob-menu span {
    left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
        position: absolute;
        transition: all 0.35s ease;
}
.mob-menu__first{
    top: 0;
}
.mob-menu__second {
    bottom: 0;
}
.mob-menu__open1 {
transform: rotate(60deg);
top: 3px;
}
.mob-menu__open2 {
    transform: rotate(-60deg);
    bottom: 4px;
    }

menu {
    @media screen and(max-width: 560px) {
        position: absolute;
        top: 0px;
        right: 0;
        min-height: 100vh;
        width: 0;
        margin: 0;
        background-color: rgba(0, 255, 255, 0.9);
        z-index: 5;
        padding-top: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
opacity: 0;
transition: all 0.35s ease;
    }
}
menu li {
    position: absolute;
    font-family: "Grtsk Giga";
    font-size: 16px;
    line-height: 22px;
    list-style-type: none;
    color: #373737;
    font-weight: 600;
    cursor: pointer;
    @media screen and(max-width: 560px) {
        position: static;
        font-size: 55px;
        margin: 0 auto;
        padding: 50px 0;
    }
}
menu li:hover {
    color: #ffffff;
}
menu li:first-child {
    right: 19px;
    top: 50%;
    transform: translate(0%, -50%) rotate(90deg);
    @media screen and(max-width: 560px) {
        transform: rotate(0deg);
    }
}
menu li:nth-of-type(2) {
    left: 50%;
    bottom: 19px;
    transform: translate(-50%, 0%);
    @media screen and(max-width: 560px) {
        transform: translate(0%, 0%);
    }
}
menu li:last-child {
    left: 19px;
    top: 50%;
    transform: translate(0%, -50%) rotate(90deg);
    @media screen and(max-width: 560px) {
        transform: rotate(0deg);
    }
}
menu li::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: #fff;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: ease-out 0.5s;
}
menu li:hover::after {
    width: 100%;
    transition: ease-out 0.5s;
}
.open-and-close {
    width: 100%;
     opacity: 1;
   }
.spinning-text__img {
    transform: rotate(0deg);
}
.spinning-text {
    position: absolute;
    left: 58%;
    top: 66%;
    z-index: 2;
}
.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-text {
    //   font-family: 'Grtsk Giga';
    font-style: normal;
    font-weight: 700;
    font-size: 82px;
    line-height: 90px;
    width: 723px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    @media screen and(max-width: 768px) {
        width: 550px;
    }
    @media screen and(max-width: 650px) {
        font-size: 34px; 
        width: 300px;
    }
}
.ellips {
    position: absolute;
    width: 587px;
    height: 587px;
    border-radius: 50%;
    background: #ffcb46;
    filter: blur(38px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    @media screen and(max-width: 1024px) {
        width: 482px;
    height: 482px;
    }
    @media screen and(max-width: 499px) {
        width: 294px;
    height: 294px;
    }
}

// _______________________________

///---
.photo-ticker {
    display: flex;
    transform: rotate(-26deg);
    position: absolute;
    top: 40%;
    width: 100%;
    @media screen and(max-width: 1024px) {
        transform: rotate(-40deg);
    }
    @media screen and(max-width: 768px) {
        transform: rotate(-50deg);
    }
    @media screen and(max-width: 375px) {
        transform: rotate(-70deg);
    }
}
.photo-ticker:last-child {
    top: 50%;
    transform: rotate(-206deg);
    @media screen and(max-width: 1024px) {
        transform: rotate(-220deg);
    }
    @media screen and(max-width: 768px) {
        transform: rotate(-230deg);
    }
    @media screen and(max-width: 375px) {
        transform: rotate(-250deg);
        margin-top: 80px;
    }
}

.photo-ticker__images-wrap {
    height: 100%;
    display: flex;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 100s;
}

.photo-ticker__img {
    height: 50px;
    object-fit: cover;
    max-width: unset;
    @media only screen and (min-width: 768px) {
        height: 57px;
        margin-bottom: 30px;
    }
}

@keyframes ticker {
    0% {
        transform: translate3d(0%, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
// ---------------
.tongue {
    display: flex;
    position: absolute;
    top: 28px;
    left: 24px;
    align-items: center;
    // outline: 1px solid red;
    width: 41px;
}
.tongue:hover {
    width: max-content;
}
.tongue:hover .tongue__language {
    display: flex;
}

.tongue:hover .tongue__language__ua {
    transition: 2s all;
    opacity: 1;
}
.tongue:hover .tongue__language__ru {
    transition: 6s all;
    opacity: 1;
}

.tongue__block {
    min-width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.tongue__block__img {
    height: 21px;
}
.tongue__language {
    display: none;
    display: flex;
}
.tongue__language__ua {
    margin: 0 10px;
    opacity: 0;
    position: relative;
}
.tongue__language__ru {
    opacity: 0;
    position: relative;
}
.tongue__language a {
    text-decoration: none;
    color: #000;
}

.after-class a:hover {
    color: #ffffff;
}

.after-class::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #fff;
    left: 0;
    top: -5px;
    position: absolute;
    transition: ease-out 0.5s;
}
.after-class:hover::after {
    width: 100%;
    transition: ease-out 0.5s;
}
// ------
